@import '../../style/variables.scss';

.joinInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 80vh;
  #required {
    color: $red;
  }
  h1 {
    font-size: 24px;
    font-weight: 800;
    margin: 16px 0;
  }
  .inputDescription {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .inputDescriptionLeft {
      font-size: 16px;
    }
    .inputDescriptionRight {
      color: $grey80;
      font-size: 12px;
    }
  }
  .backButtonContainer {
    width: 100%;
    display: flex;
    button {
      display: flex;
      height: 56px;
      padding: 8px 497px 8px 0px;
      align-items: center;
      flex-shrink: 0;
      align-self: stretch;
      border: none;
      background-color: white;
      font-size: 20px;
      line-height: 28px;
      cursor: pointer;
    }
  }

  .joinForm {
    display: flex;
    padding: 0 24px;
    flex-direction: column;
    gap: 8px;
    align-self: stretch;
    position: relative;

    .joinIsVaild {
      font-size: 0.8rem;
      color: $red;
      position: absolute;
      top: 175px;
      right: 30px;
      &.emailIsVaild {
        top: 110px;
      }
      &.passwordCheckIsVaild {
        top: 245px;
      }
    }

    .loginInput {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      input {
        display: flex;
        height: 56px;
        border: 1px solid $grey60;
        border-radius: 6px;
        padding: 17px 16px;
        align-items: center;
        align-self: stretch;
        font-family: Apple SD Gothic Neo;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        margin-bottom: 4px;
      }
    }

    .phoneNumber {
      width: 100%;
      display: flex;
      gap: 8px;
      select {
        flex: 1.1;
      }
      div {
        flex: 4;
      }
    }
    .birthday {
      display: flex;
      gap: 8px;
      width: 100%;
      .birthdaySelect {
        width: 100%;
        flex: 1.4;
        &:nth-child(2),
        &:nth-child(3) {
          flex: 2;
        }
      }
    }

    select {
      height: 56px;
      border: 1px solid $grey60;
      border-radius: 6px;
      padding: 17px 16px;
      color: $grey60;
      font-size: 16px;
    }
  }
  .loginButton {
    width: 528px;
    display: flex;
    height: 56px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background: $grey88;
    border: 1px solid $grey88;
    cursor: default;
    font-family: Apple SD Gothic Neo;
    font-size: 18px;
    font-weight: 800;
    color: white;
    margin-top: 24px;
  }
  .buttonIsVaild {
    cursor: pointer;
    background: $blue;
    border: 1px solid $blue;
  }
}
